.nav_bg {
    /* margin-top: 100px; */
    background-color: rgb(243, 238, 248);
    padding-bottom: 100px;
}

.tag {
    margin-top: 130px;
}

.img-fluid {
    margin-top: 130px;
    margin-left: 80px;
    border-radius: 20px;
}

.bttn {
    background-color: rgb(204, 226, 236);
    padding: 5px;
    border-radius: 20px;
    font-size: 17px;
    cursor: pointer;
}